@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width:2px;
}
::-webkit-scrollbar-thumb{
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;

}
::-webkit-scrollbar-track{
 background: rgba(51,51,51);
 border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
  background: rgba(0,0,0);
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #1F2544;

    
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}









.bg-night-sky {
  /* background-image: url('/starry-night-sky.jpg');  */
  border-color: rgba(40, 10, 96, 0.4);
}

.bg-night-sky-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%; /* Twice the width of the container to create seamless loop */
  height: 100%;
  background-image: inherit;
  animation: slide 30s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Move the background to the left by 50% of its width */
  }
}
